*{
    margin: 0;
    
}

.App{
    text-align: center;
}
.title{
    font-family: "Bigelow Rules";
    text-align: center;
    margin-bottom: 60px;
    color: rgb(132, 252, 222);
    font-size: 80px;
    text-transform: uppercase;
    padding-top: 60px;
}